# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Outputs (generated artifacts)
outputs/embeddings/
outputs/indexes/
outputs/reports/

# Data (optional: keep raw/processed if you want, but do NOT upload huge files)
# data/raw/
# data/processed/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Hugging Face cache (optional)
.cache/
